#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp
temp
.env*

#     Node.js     #
###################
node_modules
package-lock.json
yarn.lock
package.lock

#       NYC       #
###################
coverage
.nyc_output

#      BUILD      #
###################
/build
